*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
body{
    background-color: gainsboro;
}
header{
    background-color: white;
    padding: 2em;
    margin: 0;
}

.title{
    font-size: 4rem;
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}
.bottoni{
width: 60%;
margin:auto;
background-color: white;
margin-top: 1%;


padding: 10px;
}


.logo{
    height: 4em;
    vertical-align: middle;
}

.task-1{
background-color: #46ADF1;
color: white;
border-radius: 10%;
border: 0;
margin-left: 5%;
padding: 5px;
}

.task-2{
padding: 5px;
background-color: white;
border-radius: 10%;
border-color:#DBDFE1;
}